body {
  background-color: rgb(252, 252, 252);
}

header {
  background-color: rgb(240, 240, 240);
  margin-bottom: 4vh;
}

img {
  width: 7vh;
}

.nav-item {
  font-size: 2vh;
  margin-left: 10%;
}

.container-fluid {
  margin-left: 10%;
  font-weight: 500;
  font-size: 1.8vh;
}

.nav-link:hover {
  color: rgb(0, 0, 0);
  transition: ease-in-out 20ms;
}
